:root {
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

/* Navbar section */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;

    padding: 0 50px;
    height: 80px;
}

nav .left a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a {
    color: var(--text-color);
    margin: 0 15px;
}

nav .right a span{
    margin: 5px;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;

}

.hero-section.text{
    flex:5
}
.hero-section.headshot{
    flex:2
}

.hero-section  .headshot img{
    width: 280px;
    border-radius: 50%;
}
